header > p {
  margin: 0;
}

nav > p {
  margin: 4px 0;
  display: block; /* column */
}

@media screen and (min-width: 768px) {
  header > p {
    display: inline-block;
    margin-left: 50px;
  }

  nav {
    display: inline-block;
    margin-left: 30px;
  }

  nav > p {
    display: block;
    margin: 4px 0;
  }
}

@media screen and (min-width: 1024px) {
  header > p {
    display: inline-block;
    margin-left: 50px;
  }

  nav {
    display: inline-block;
    margin-left: 50px;
  }

  nav > p {
    display: inline-block;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }

  nav > p:first-child {
    margin-left: 0;
  }
}
