header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid #ddd;
}

header > p {
  margin: 0;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav-item {
  min-width: 100px;
  min-height: 40px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  nav {
    flex-direction: row;
    gap: 10px;
  }
}

main {
  padding: 24px 16px;
}

.calc {
  margin: 0 auto;
  max-width: 720px;
}

/* DISPLAY */
.display {
  width: 95%;
  height: 40px;
  margin-bottom: 16px;
  border-radius: 16px;
  border: 1px solid #d1d5db;
  background: #ffffff;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  padding: 12px 16px;
  font-size: 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

/* GRID DEFAULT: layar besar, 7 kolom fixed */
.keys {
  display: grid;
  grid-template-columns: repeat(7, 90px);
  grid-auto-rows: 60px;
  gap: 10px;
  justify-content: center;
}

.keys > div > button {
  width: 100%;
  height: 70%;
  border-radius: 30px;
}

/* RAD + DEG */
.rad-deg {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.rad-deg button {
  border-radius: 0;
}

.rad-deg button:first-child {
  border-radius: 100px 0 0 100px;
}

.rad-deg button:last-child {
  border-radius: 0 100px 100px 0;
}

@media (max-width: 900px) {
  .keys {
    grid-template-columns: repeat(5, minmax(60px, 1fr));
  }
}

@media (max-width: 600px) {
  .keys {
    grid-template-columns: repeat(3, minmax(70px, 1fr));
  }

  .display {
    font-size: 24px;
    height: 30px;
  }
}
